* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    background: #222;
    width: 1024px;
    margin: 0 auto;
}

p {
    line-height: 1.4;
}

pre {
    background: #ccc;
}

header,
main {
    display: table;
    margin: 0px auto;
    text-align: center;
}

.personal {
    width: 1024px;
}

header {
    background: #ededed;
    border-bottom: 2px solid #E8E8E8;
}

.personal.details {
    position: relative;
    padding: 16px 0 50px;
}

main {
    background: #E8E8E8;
    font-family: 'Manjari', sans-serif;
}

header img {
    float: left;
    width: 128px;
    margin: 0 22px 16px 15px;
}

header h1 {
    font-family: 'Manjari', sans-serif;
    position: absolute;
    top: 53px;
    left: 155px;
    font-size: 35px;
}

header ul {
    position: absolute;
    top: 32px;
    right: 110px;
    font-style: italic;
    list-style: none;
    text-transform: lowercase;
}

header li {
    margin: 9px 0;
}

header a {
    padding: 0 0 0 4px;
    color: #444;
    text-decoration: none;
}

header a:hover {
    color: #7c7c7c;
}

.block {
    float: left;
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
}

.left-part {
    float: left;
    width: 300px;
}

.right-part {
    float: left;
    width: 600px;
    text-align: left;
}

.left-part h2 {
    font-style: italic;
    color: #7c7c7c;
    font-weight: 700;
    text-decoration: underline;
}

.right-part>ul {
    margin: 0 0 0 17px;
}

.right-part li>ul {
    margin: 6px 0 6px 19px;
}

.right-part ul>li {
    margin: 6px 0;
}